<section class="container-fluid" id="section__about-us">
  <article class="container">
    <div class="section__header">
      <h6 class="section__subtitle">ПП "Ліра-Люкс"</h6>
      <h3 class="section__title">Коротко про нас</h3>
      <div class="title_underline"></div>
    </div>
    <div class="card about-smth-card">
      <div class="row">
        <div class="col-lg-5 col-xl-4 certificate-box"><img src="../assets/images/certificate.jpg" alt="certificate Lira-Lux" class="cards-default-shadow certificate"></div>
        <div class="col">
          <div class="card about-us-item cards-default-shadow">
            <div class="row no-gutters">
              <div class="col-md-3 about-us-icon-position">
                <i class="fas fa-signature"></i>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Заснування компанії</h5>
                  <p class="card-text">Компанія ПП"Ліра-Люкс" заснована в 1999 році. У 2003 році ми стали офіційним дилером продукції німецької компанії "Roto". </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card about-us-item cards-default-shadow">
            <div class="row no-gutters">
              <div class="col-md-3 about-us-icon-position">
                <i class="fas fa-medal"></i>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Досягнення</h5>
                  <p class="card-text">Нам вдалось стати однією із найкращих компаній Західної України з продажу дахових вікон Roto завдяки нашому відповідальному ставленню до своєї справи, та нашому сервісу. Адже у нас ви можете отримати повну консультацію, персональну знижку та гарантію на товар і на виконану роботу.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card about-us-item cards-default-shadow">
            <div class="row no-gutters">
              <div class="col-md-3 about-us-icon-position">
                <i class="far fa-list-alt"></i>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Сфера діяльності</h5>
                  <p class="card-text">Основна наша діяльність - продаж, та монтаж дахових вікон та аксесуарів. Але ми також займаємось розрахунком та продажем дахів в цілому, з усіма супутніми матеріалами.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card about-us-item cards-default-shadow">
        <div class="row no-gutters">
          <div class="col-md-3 about-us-icon-position">
            <i class="fas fa-map-marked-alt"></i>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Ми не тільки онлайн</h5>
              <p class="card-text">Також ви можете приїхати до нас у виставковий зал і ознайомитися з мансардними вікнами вживу на стенді, і отримати більш детальну інформацію про них.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
