<footer id="footer" class="container-fluid">
  <section class="container">
    <div class="row">
      <div class="col-lg-2 col-12 phone-center">
        <div class="logoBox"></div>
      </div>
      <div class="col"></div>
      <div class="col-lg-9 col-12">
        <h4>ПП "Ліра-Люкс"</h4>
        <p>Працюємо для вашого комфорту.</p>
      </div>
      <div class="col-lg-2 col-12 phone-center"><img src="../assets/images/logo-roto_white.png" alt="logo Roto" style="width: 130px; max-height: 65px"></div>
      <div class="col"></div>
      <div class="col-lg-9 col-12">
        <h4>"Roto-Frank"</h4>
        <p>Зроблено в Німеччині. 15 років гарантії.</p>
      </div>
      <div class="col-12 about-developer">
        <p>This site made by Yura Chorniy. My Linkedin - <a href="https://www.linkedin.com/in/yura-chorniy-web-dev/" target="_blank" class="link-linkedin"><i class="fab fa-linkedin"></i></a></p>
      </div>
    </div>
  </section>
</footer>
