<header class="container-fluid mainBox" id="sectionHeader">
  <div class="header__box">
    <div class="row">
      <div class="col-md-2">
        <a href="">
          <div class="logoBox"></div>
        </a>
      </div>
      <div class="col-md-10">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#section__goods">Мансардні вікна</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section__about-us">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section__about-roto">Про Roto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section__contacts" data-toggle="tooltip" data-placement="bottom" title="тел. 067-3-404-909">Контакти</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mainContainer">
    <div>
      <h1 class="mainTitle">Офіційний дилер вікон <span class="redColorOfText">Roto</span></h1>
      <h2 class="secondaryTitle">У нас ви можете придбати якісні німецькі мансардні вікна за приємною ціною</h2>
      <ul class="ourAdvantages">
        <li class="firstAdvantage defaultAdvantageStyle">Продаж</li>
        <li class="secondAdvantage defaultAdvantageStyle">Гарантія 15 років</li>
        <li class="thirdAdvantage defaultAdvantageStyle">Монтаж вікон та аксесуарів</li>
        <li class="fourthAdvantage defaultAdvantageStyle">Сервісне обслуговування</li>
      </ul>
    </div>
    <a class="phone" href="tel:067-34-04-909">
      <div class="phoneBox">Зателефонуйте до нас: <span>067 3 404 909</span></div>
    </a>
  </div>
</header>
<div id="headerSmall">
  <div id="headerSmallLogoBox"></div>
  <div id="headerSmallSubtitle">
    <h1>Німецькі мансардні вікна</h1>
  </div>
  <div id="headerSmallOurAdvantages">
    <h2>Продаж</h2>
    <h2>Монтаж</h2>
    <h2>Гарантія</h2>
  </div>
</div>
