<section class="container-fluid" id="section__about-roto">
  <article class="container">
    <div class="section__header">
      <h6 class="section__subtitle">German made</h6>
      <h3 class="section__title">Коротко про Roto</h3>
      <div class="title_underline"></div>
    </div>
    <div class="card about-smth-card">
      <div class="row" style="padding: 0 15px;">
        <div class="col roto-factory-img-box">
          <img src="../assets/images/roto_factory.jpg" alt="roto factory" class="roto-factory-img">
        </div>
      </div>
      <div class="card about-us-item cards-default-shadow">
        <div class="row no-gutters">
          <div class="col-md-3 about-us-icon-position">
            <img src="../assets/images/logo-roto.png" alt="Roto logo" style="width: 140px;">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Чому саме Roto?</h5>
              <p class="card-text">Фірма Roto разом з командою, яка налічує більше 1400 працівників, в Європі вважається одним з провідних виробників мансардних вікон, покрівельних люків, аксесуарів, а також сходів на горище.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card about-us-item cards-default-shadow">
        <div class="row no-gutters">
          <div class="col-md-3 about-us-icon-position">
            <i class="fas fa-trophy" style="color: #E20026;"></i>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Більше 75 років інновацій</h5>
              <p class="card-text">Завдяки своїм досягненням, завод фірми Roto в Німеччині отримав в 2010 році звання «Підприємство року» в рамах конкурсу «Industrial Excellence Award», який є найбільш вимогливим і найпрестижнішим конкурсом міжнародного рівня в промисловому секторі.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card about-us-item cards-default-shadow">
        <div class="row no-gutters">
          <div class="col-md-3 about-us-icon-position">
            <img src="../assets/images/Roto_german_made.jpg" alt="Roto german made" style="width: 140px;">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Тільки найкраща якість продукції</h5>
              <p class="card-text">Фірмова продукція Roto відрізняється найвищою якістю "зроблено в Німеччині". Перш ніж конкретний продукт залишає завод Roto, його повністю перевіряють і випробовують відповідно до норми DIN.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
